/* InputForm.css */

.form-container {
  max-width: 1000px; /* Adjust this value based on your preferred width */
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"],
input[type="number"],
select {
  width: calc(100% - 12px);
  padding: 6px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

button {
  padding: 10px 15px;
  margin-top: 10px; /* Adjust spacing between elements */
  margin-right: 10px; /* Adjust spacing between buttons */
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

.error {
  color: red;
  margin-bottom: 10px;
  font-weight: bold;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 8px;
  border: 1px solid #ddd;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

.delete-btn {
  background-color: #dc3545;
}

.delete-btn:hover {
  background-color: #c82333;
}

.add-btn {
  background-color: #28a745;
}

.add-btn:hover {
  background-color: #218838;
}

.input-group {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.input-wrapper {
  flex: 0 0 calc(33.33% - 10px);
  margin-bottom: 10px;
}

.input-wrapper label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}
