/* NavBar.css */
.navBar {
    width: 60%;
    background-color: #001f3f; /* Deep navy blue background */
  }
  
  .toolbar {
    display: flex;
    align-items: center;
  }
  
  .navLinks {
    display: flex;
    gap: 20px; /* Adjust the space between navigation links */
  }
  
  .navLinks a {
    color: white;
    text-decoration: none;
    position: relative;
  }
  
  .navLinks a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 100%;
    height: 2px;
    background-color: transparent;
    transition: background-color 0.3s ease;
  }
  
  .navLinks a:hover::after,
  .navLinks a.active::after {
    background-color: white; /* Change to your desired active link color */
  }
  
  .selectRole {
    color: black; /* Adjust the color to fit your theme */
    border-color: transparent; /* For the outline of the select component */
    margin-left: auto; /* Move the select component to the rightmost edge */
  }
  
  .roleLabel {
    color: white; /* Color for the 'Role' label */
    font-weight: bold; /* Make the label text bold */
    margin-right: 10px; /* Add some margin to separate the label from the select component */
  }
  
  /* Adjustments for small screens */
  @media (max-width: 600px) {
    .toolbar {
      flex-direction: column;
    }
  
    .navLinks {
      flex-direction: column;
      width: 100%;
    }
  }
  