.cont {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  height: 90px;
  flex-shrink: 0;
  border-radius: 110px;
  border: 3px solid rgba(255, 255, 255, 0.21);
  background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 8rem;
}

.logo h1 {
  color: #fff;
  font-family: "Benzin-Semibold";
  font-size: 32px;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 20px;
}

.links {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}

.links ul {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.link,
.link-active {
  color: #fff;
  font-family: "Benzin-Medium";
  font-size: 17px;
  font-weight: 400;
  font-variant: small-caps;
  padding: 0.5rem 1rem;
  margin: 0 0.5rem; /* Reduced space between links */
  display: inline-block;
  transition: color 0.3s ease;
}

.link:hover,
.link-active {
  color: #dda0dd;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}

.navDropDown {
  padding: 10px 20px;
  font-size: 16px;
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
  border: 2px solid rgba(255, 255, 255, 0.4);
  border-radius: 8px;
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"><path d="M7.247 7.857L5.451 6.06 10.49 1 15.53 6.061l-1.796 1.796-3.237-3.238-3.24 3.238z"/><path d="m7.247 12.143 1.796 1.797L10.49 19l4.04-4.06-1.796-1.797-3.237 3.238-3.24-3.238z"/></svg>');
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 20px;
}

.navDropDown:focus {
  outline: 2px solid #dda0dd;
}

.role-dropdown {
  display: flex;
  align-items: center;
  color: #fff;
  font-family: "Benzin-Medium", sans-serif;
  margin-left: 1rem;
  margin-right: 2rem;
  margin-top: 4.5px;
}

.role-dropdown label {
  font-size: 18px;
  color: #fff;
  margin-right: 0.5rem;
}

@media only screen and (max-width: 768px) {
  .container {
    flex-direction: column;
    height: auto;
    padding: 1rem;
    margin-top: 0;
    margin-left: 0;
  }

  .logo {
    margin: 0;
    margin-bottom: 1rem;
  }

  .logo h1 {
    font-size: 24px;
    margin-top: 10px;
  }

  .links {
    width: 100%;
    justify-content: center;
  }

  .links ul {
    flex-direction: column;
    text-align: center;
  }

  .links ul li {
    margin-bottom: 1rem;
  }

  .role-dropdown {
    justify-content: center;
    margin-right: 0;
    margin-bottom: 1rem;
    margin-left: 0;
  }

  .role-dropdown label {
    font-size: 16px;
  }

  .navDropDown {
    width: auto;
    margin: 0;
    font-size: 16px;
  }
}
